//color
$black: black;
$white: white;
$gray-text: #9999b1;
$gray-background:#f8f9fa;
$background-bar-empty:#e9ecef;
$background-bar-full:#007bff;
$strategy-icon-color: #31de79;
$blue-section:#0075f6;
$blue-button:rgb(109, 194, 223);

//fonts
$text: 'Poppins', sans-serif;
$test: 'Delicious Handrawn', cursive;