.form{
    padding: 0px;
    margin-bottom: 130px;
    overflow: hidden;

    &-span{
        @include style_span();
        text-transform: uppercase;
    }
    &-title{
        @include style_title();
    }
    &-text{
        @include style_text();
        &.blog{
            text-align: left;
            padding: 0px;
        }
    }

    &-wraper{
        background: linear-gradient(rgba(5, 7, 12, 0.4), rgba(5, 7, 12, 0.4)), url("../../../src/img/Banner.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;

        &-design{
            padding: 30px;
        }
        &-img{
            height: 570px;
            width: 100%;
            object-fit: cover;
        }
        &-button{
            @include style_button(20px, 40px);
        }
    }
}

.form-control{
    &.text{
        margin-bottom: 30px;
        background: rgba(5, 7, 12, 0.8);
        border: 1px solid $blue-section;
    }
    &.resizable{
        margin-bottom: 30px;
        resize: none;
        border: 1px solid $blue-section;
        background: rgba(5, 7, 12, 0.8);
    }
}

.visibleFormImg{
    @include AnimationY(2s, 0, 200px);
}

.visibleForm{
    @include AnimationX(3s, 0, 300px);
}