.skill{
    background-color: $gray-background;
    padding: 20px;
    padding-bottom: 50px;

    &-span{
        @include style_span();
    }
    &-title{
        @include style_title();
    }
    &-text{
        @include style_text();
    }
    &-percentage{
        text-align: center;
        font-family: $text;
        margin-bottom: 40px;
        &-text{
            color:$black;
            text-align: left;
            font-weight: 600;
            font-size: 20px;
            margin-bottom: 10px;
        }
        &-number{
            text-align: center;
            color: $black;
            font-size: 14px;
            font-weight: 600;
        }
        &-bar{

            width: 100%;
            height: 20px;
            background-color: $background-bar-empty;
            border-radius: 0.2rem;
            &.full{
                height: 20px;
                background-color: $background-bar-full;
                &.Photoshop{width: 75%;}
                &.JQuery{width: 60%;}
                &.HTML5{width: 85%;}
                &.WordPress{width: 70%;}
                &.CSS3{width: 90%;}
                &.SEO{width: 80%;}
            }
            
        }

    }
}